*{
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

body{
    display: flex;
    justify-content: center;

    background-color: gray;
}

#contenido{
    width: 1440px;
    height: 926px;

    background-image: linear-gradient(#9C2004,#AB2706);
    display: flex;
    gap: 169px; 
}

#imagen{
    position: relative;
    width: 656px;
    height: 861.5px;
    margin-top: 64px;
    margin-left: 64px;
    margin-bottom: 0px;
}

#redonda{
    position: absolute;

    width: 656px;
    height: 656px;

    margin-top: 24px;

    border-radius: 100%;
    background-color: #E5B94B;
    z-index:0;
}

#cuadrosArriba{
    position: absolute;
    width: 224px;
    height: 224px;
    z-index:100;
}

#cuadrosAbajo{
    position: absolute;
    width: 224px;
    height: 224px;

    margin-top: 568px;
    margin-left: 432px;
    z-index: 100;
}

#persona{
    width: 618.33px;
    height: 795.5px;

    position: absolute;

    margin-top: 67px;
    z-index: 101;
}

#texto{
    width: 487px;
    height: 674px;

    margin-top: 134px;
    margin-left: 169px;
    margin-right: 64px;
}

#texto > h1{
    width: 487px;
    height: 416px;

    font-weight: 700;
    font-size: 88px;
    line-height: 104px;

    color: #FFFFFF;
    margin-top: 0px;
}

#texto > p{
    width: 487px;
    height: 96px;

    font-weight: 300;
    font-size: 24px;
    line-height: 32px;

    color: #FFFFFF;

    margin-top: 40px;
    margin-bottom: 40px;
}
#texto > a{
    text-decoration: none;
}

#texto button{
    cursor: pointer;
    width: 231px;
    height: 82px;

    border: 0px solid #E5B94B;
    border-radius: 36px;
    background-color: #E5B94B;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 32px;
    line-height: 18px;
    color: #080808;
}